#wrapper {
  width: 100%;
}

.additional-style-2 {
  padding: 10px;
  margin: 0;
  text-decoration: none;
  text-align: justify;
}

#temp-wrapper {
  text-align: center;
  margin-top: 1.5%;
}

#temp-wrapper2 {
  text-align: center;
  margin-top: 1.5%;
}

#linkButton {
  color: #fff;
  background-color: #446cb3;
  position: absolute;
  left: 80%;
  bottom: 25px;
  display: block;
}
@media (max-width: 949px) {
  #linkButton {
    display: none;
  }
}

#counter {
  background-color: #8eb3d1;
  margin: 0;
  width: 100%;
  display: block;
  height: 150px;
  text-align: center;
}

#counter span {
  line-height: 1;
}

.counter-value {
  /*font-family: "Ubuntu", sans-serif;*/
  color: white;
  display: block;
  font-size: 2.9em;
}

.pageSection .aboutSection h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  width: 75%;
}

.pageSection .aboutSection p {
  text-align: center;
  margin: auto;
  width: 50%;
  height: 50%;
  font-size: 1.2em;
}
.aboutSection {
  /*background-color: #fff;*/
  background-color: #33427e;
  color: #ffffff;
  padding: 15px;
  vertical-align: middle;
  margin: auto;
  position: relative;
  top: 40%;
  height: 100%;
  bottom: 40%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.initiativeSection {
  /*background-color: #f77176;*/
  background: linear-gradient(
      rgba(255, 130, 130, 0.5),
      rgba(255, 130, 130, 0.5)
    ),
    url("./img/newBackground.jpg"); /*Placeholder image*/
  background-size: cover;
  color: #fff;
  padding: 15px;
  vertical-align: middle;
  margin: auto;
  position: relative;
  top: 25%;
  height: 100%;
  bottom: 25%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.secondPageSection .initiativeSection p {
  text-align: center;
  margin: auto;
  width: 50%;
  height: 50%;
  font-size: 1.2em;
}

.secondPageSection .initiativeSection h1 {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  width: 75%;
}

.secondPageSection {
  width: 100%;
  align-items: center;
  height: 75%;
}

.pageSection {
  width: 100%;
  align-items: center;
  height: 75%;
}

.container-header {
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay-header {
  height: 100vh;
  width: 100%;
  background: #1b3187;
  opacity: 0.5;
  position: absolute;
}
.centered-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3.5em;
  /*font-family: "Ubuntu", sans-serif;*/
}
.centered-header > h1 {
  font-size: 1em;
}

/*
 *#readMoreButton {
 *  border-color: #283773;
 *  color: #283773;
 *}
 *
 *#readMoreButton:hover {
 *  background-color: #283773;
 *  border-color: #000;
 *  color: #fff;
 *}
 *
 *#readMoreButton2 {
 *  border-color: #fff;
 *  color: #fff;
 *}
 *
 *#readMoreButton2:hover {
 *  background-color: #fff;
 *  border-color: #000;
 *  color: #000;
 *}
 */

