.overlay{
	height: 50vh;
	width: 100%;
	background: #1b3187;
	opacity: 0.65;
	position: absolute;
  }

  .centered {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 3.5em;
  }

  .container-card {
	position: relative;
	text-align: center;
	height: 50vh;
	width: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }

  #wrapper{
      width: 100%;
  }

  .container-fluid{
      width: 100%;
      height: 100%;
      padding-top:5%;
  }

  .row{
      width: 100%;
  }

 
.teamImage{
  padding-bottom: 5%;
    object-fit: cover;
    border-radius: 50%;
    height: 400px;
    width: 400px;
}

.col-lg-6 p{
  font-family: "Ubuntu", sans-serif;
	color: #1b3187;
	display: block;
  font-size: 1.4em;
  text-align: center;
  width: 100%;
}
