@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);

body {
  margin: 0;
  font-family: Dubai-Regular, sans-serif;
  /*
   *font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   *  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   *  sans-serif;
   */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
